

.pagination.job-pagination .page-link {
  border-radius: 50% !important;
  margin: 0 4px;
  height: 46px;
  width: 45px;
  line-height: 29px;
  text-align: center;
  color: #8492a6;
}

.pagination .page-item.active .page-link {
  background-color: #2f55d4;
  border-color: #2f55d4;
  color: #ffffff !important;
}





/********************
    job-listing
*********************/
.job-box {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.job-box .lable {
  width: 200px;
  position: absolute;
  top: -2px;
  left: -86px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
  background: #d8dff7;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.job-box .lable h6 {
  font-size: 12px;
}

.job-box:hover {
  border-color: #849ae5 !important;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.job-box:hover .lable {
  background: #2f55d4;
}

.job-list-reg-form {
  position: relative;
  bottom: 45px;
  -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.left-sidebar .card-body {
  border-bottom: 1px solid #eaedf6;
}

a.job-list[data-toggle=collapse]:before {
  content: '\f374';
  display: block;
  font-family: 'Material Design Icons';
  font-size: 20px;
  color: #161c2d;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

a.job-list[data-toggle=collapse].collapsed:before {
  content: '\f415';
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.job-list {
  position: relative;
}

.card-header {
  background-color: transparent;
  margin-bottom: 0 !important;
}

.custom-control-label:before {
  border: 1px solid #8492a6;
  background-color: transparent;
  width: 17px;
  height: 17px;
  top: 3px;
}

.custom-control-label:after {
  width: 18px;
  height: 18px;
  top: 2px;
  left: -25px;
}

.custom-control {
  margin: 11px 20px;
}

.nice-select:after {
  margin-top: -5px;
  height: 7px;
  width: 7px;
}

.apply-btn-sm {
  padding: 6px 20px;
  border-radius: 4px;
}

.job-list-box {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.job-list-box:hover {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/********************
    JOB LIST GRID
*********************/
.job-list-grid {
  padding: 210px 0px 60px 0px;
  background-image: url("../images/job-list-grid-bg.html");
  background-size: cover;
  position: relative;
  background-position: center center;
}

.job-list-grid-reg-form {
  background-color: #fcfcfe !important;
  border: 1px solid #eaedf6;
}

.list-grid-item {
  border: 1px solid #eaedf6;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.list-grid-item:hover {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.grid-fev-icon {
  -webkit-text-stroke: 2px #2f55d4;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.grid-fev-icon:hover {
  -webkit-text-stroke: 0px #2f55d4;
  -webkit-text-fill-color: #2f55d4;
}

/********************
    JOB SINGLE
*********************/
.job-time-btn {
  border-radius: 50px;
}

.job-overview {
  padding: 24px 0 24px 24px;
}

.overview-details {
  overflow: hidden;
}

@media (min-width: 200px) and (max-width: 768px) {
  .company-logo-img {
    margin-bottom: 30px;
  }
  .mt-40 {
    margin-top: 40px !important;
  }
  .sort-button .list {
    right: 0;
    left: auto;
  }
  .job-list-btn-space {
    margin: 12px 0;
  }
}

@media (max-width: 425px) {
  .job-list-button-sm {
    text-align: center !important;
    margin: 30px 0px 12px;
  }
  .job-list-desc {
    text-align: center;
  }
  .job-list-reg-form {
    bottom: 70px;
  }
  .show-results h5 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 18px !important;
  }
  .show-results .float-left {
    float: none !important;
  }
  .job-detail-com-desc {
    text-align: center;
  }
  .job-single-meta li:after {
    display: none;
  }
  .job-single-logo-img img {
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .sort-button .list {
    right: 0 !important;
    left: auto !important;
  }
}

/********************
  CANDIDATES LISTING
*********************/
.fav-icon i {
  -webkit-text-stroke: 2px #e43f52;
  -webkit-text-fill-color: transparent;
}

.fav-icon i:hover {
  -webkit-text-stroke: 0px #e43f52;
  -webkit-text-fill-color: #e43f52;
}

/********************
  CANDIDATES PROFILE
*********************/
.candidates-profile-education {
  padding: 64px 24px 24px;
}

.candidates-profile-education .profile-education-icon {
  position: absolute;
  width: 90px;
  height: 90px;
  line-height: 90px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
